/* CustomCheckbox.css */
.custom-checkbox {
    @apply appearance-none w-5 h-5 border-2 inline-block relative cursor-pointer;
    border-color: red;
  }
  
  .custom-checkbox::before {
    content: '✖'; /* Cross symbol */
    @apply absolute top-0 left-0 w-full h-full flex items-center justify-center text-red-500;
    background-color: transparent;
  }
  
  .custom-checkbox.checked {
    border-color: green;
  }
  
  .custom-checkbox.checked::before {
    content: '✔'; /* Tick symbol */
    @apply bg-green-500 text-white;
  }
  